/* Títulos */
h3{
    color: #abb8c3;
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

h4{
    color: #abb8c3;
    font-size: 30px;
    text-align: center;
}
/* Lineas intermedias */
.linea{
    border-bottom: 2px solid;
    border-color: #abb8c3;
    width: 94%;
    justify-content: center;
    margin-left: 3.8%;
    margin-bottom: 20px;
}

/* Tabla con los vídeos */ 
table{
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 30px;
}

table td{
    padding: 35px;
    border: 2px solid #abb8c3;
    border-radius: 10px;
}

table iframe{
    border-radius: 10px;
    box-shadow: 2px 2px 30px;
}

/* Reseñas de clientes */
.contenedores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor{
    width: 500px;
    margin: 20px;
    box-shadow: 2px 2px 30px;
    background-color: #222222;
    cursor: pointer;
}

.parte-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.perfil{
    display: flex;
    align-items: center;
}

.img-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
}

.img-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nombre {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #abb8c3;
}

.nombre span{
    color: #70777c;
}

.estrellas{
    color: #FFD700;
}

.parte-inferior{
    color: #6f6f6f;
}