.cuerpo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: auto;
    background-color: #222222;
    border: 1px solid #abb8c3;
    border-radius: 20px;
    margin-bottom: 20px;
}

.texto{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.texto h3{
    font-size: 36px;
    color: #abb8c3;
    margin-bottom: 20px;
}

.texto p{
    font-size: 22px;
    color: #abb8c3;
    margin-bottom: 20px;
}

.imagen{
    width: 100%;
    border-radius: 50px;
    margin-bottom: 20px;
}

.imagen:hover{
    box-shadow: 2px 2px 20px #000000;
}

.imagen img{
    width: 100%;
    background-color: #ffffff00;
}

.especificaciones{
    width: 100%;
    text-align: center;
    color: #abb8c3;
    margin-bottom: 20px;
}

.especificaciones h3{
    font-size: 36px;
    margin-bottom: 20px;
}

.especificaciones table{
    font-size: 19px;
    width: 100%;
    height: 100px;
    border-right: 0px;
}

.inferior{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.inferior h5{
    display: flex;
    align-items: center;
    font-size: 26px;
    text-align: center;
    border: 1px solid #abb8c3;
    border-radius: 50px;
    padding: 10px;
    color: #abb8c3;
    margin-right: 75px;
}

.inferior button{
    font-size: 22px;
    width: 50%;
    height: 50px;
    background-color: transparent;
    color: #abb8c3;
    border-color: #abb8c3;
    border-radius: 25px;
}

.inferior button:hover{
    box-shadow: 2px 2px 20px #000000;
    cursor: pointer;
}
